{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
apt-get update
sudo apt-get install -y vim mercurial exuberant-ctags wget git build-essential

# Install miniconda
if ! conda --version
then
    curl -L -O "https://github.com/conda-forge/miniforge/releases/latest/download/Mambaforge-$(uname)-$(uname -m).sh"
    bash Mambaforge-$(uname)-$(uname -m).sh
fi

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh

# Install homebrew if it's not there already.
if ! brew --version
then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    brew install coreutils wget vim git
fi

if ! conda --version
then
    brew install mambaforge
    conda init "$(basename "${SHELL}")"
fi


{{ end -}}

git config --global core.excludesFile '~/.gitignore'
vim +PlugInstall +qall


