{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
apt-get update
sudo apt-get install -y vim mercurial exuberant-ctags wget

# Install miniconda
MINICONDA_FILE=Miniconda3-py39_4.9.2-Linux-x86_64.sh
wget https://repo.anaconda.com/miniconda/$MINICONDA_FILE

# check the SHA256sum of Miniconda before executing.
echo "536817d1b14cb1ada88900f5be51ce0a5e042bae178b5550e62f61e223deae7c $MINICONDA_FILE" | sha256sum --check || exit 1
bash $MINICONDA_FILE


{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh

# Install homebrew if it's not there already.
brew --version || /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

brew install coreutils wget

MINICONDA_FILE=Miniconda3-py39_4.9.2-MacOSX-x86_64.sh
wget https://repo.anaconda.com/miniconda/$MINICONDA_FILE
echo "b3bf77cbb81ee235ec6858146a2a84d20f8ecdeb614678030c39baacb5acbed1 $MINICONDA_FILE" | sha256sum --check || exit 1
bash $MINICONDA_FILE



{{ end -}}
